body {
	margin: 0;
	padding: 0;
	background-color: #000;
}

.loader {
	height: 500px;
	width: 500px;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.loader span {
	position: absolute;
	background: rgba(255, 255, 255, .1);
	box-shadow: 0 0 50px rgba(0, 0, 0, .6);
	border: 10 px solid rgba(255, 255,255, .5);
	animation: animate 10s alternate infinite;
}

.loader span:nth-child(1) {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	animation-delay: -0.1s;
}

.loader span:nth-child(2) {
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	animation-delay: -0.2s;

}

.loader span:nth-child(3) {
	top: 40px;
	left: 40px;
	right: 40px;
	bottom: 40px;
	animation-delay: -0.3s;
}

.loader span:nth-child(4) {
	top: 60px;
	left: 60px;
	right: 60px;
	bottom: 60px;
	animation-delay: -0.4s;
}